.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: darkslategray;
}
.app{
    margin: 0px;
}
.logo{
    height: 125px;
    width: 125px;
    border-radius: 50%;
}
.nav-items > ul{
    display: flex;
    font-size: 24px;
    padding: 0px 5rem;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    color: white;
    list-style-type: none;
}
.search{
    padding: 10px;
}
.res-card{
    width: 300px;
    padding: 10px;
    margin: 15px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;

}